# MkDocs
site/

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.eggs/
*.egg-info/
dist/
build/

# Environnement virtuel
.env
.env.local

# IDE
.claude/
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
